Source: libterm-readline-perl-perl
Section: perl
Priority: optional
Build-Depends: debhelper (>= 7.0.50)
Build-Depends-Indep: perl
Maintainer: Debian Perl Group <pkg-perl-maintainers@lists.alioth.debian.org>
Uploaders: Gunnar Wolf <gwolf@debian.org>, Niko Tyni <ntyni@iki.fi>,
 Krzysztof Krzyzaniak (eloy) <eloy@debian.org>, Jonathan Yu <jawnsy@cpan.org>
Standards-Version: 3.8.3
Homepage: http://search.cpan.org/dist/Term-ReadLine-Perl/
Vcs-Svn: svn://svn.debian.org/pkg-perl/trunk/libterm-readline-perl-perl/
Vcs-Browser: http://svn.debian.org/viewsvn/pkg-perl/trunk/libterm-readline-perl-perl/

Package: libterm-readline-perl-perl
Architecture: all
Depends: libterm-readkey-perl, ${perl:Depends}, ${misc:Depends}
Description: Perl implementation of Readline libraries
 Term::ReadLine::Perl is a quick implementation of the minimal interface to
 Readline libraries. The implementation is made in Perl (mostly) by Jeffrey
 Friedl. The only thing this library does is to make it conformant (and add
 some minimal changes, like using Term::ReadKey if present, and correct work
 under xterm).
